body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#409a9e;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

form {
    display: flex;
    margin-bottom: 10px;
}

form input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

button {
    background-color: #3da481;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3da481;
}